In [5]:
import pandas as pd
import matplotlib
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [12.0, 8.0]

In [6]:
# load csv file
data_set = pd.read_csv('datasets_1392_2506_international-airline-passengers.csv')
data_set.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [7]:
# checking the missing value
data_set.isnull().sum()

Month          0
#Passengers    0
dtype: int64

In [8]:
# confirm that Month columns is in datetime format
data_set.dtypes

Month          object
#Passengers     int64
dtype: object

In [10]:
# convert generic object into datetime
data_set['Month'] = pd.to_datetime(data_set['Month'])
data_set.head()

       Month  #Passengers
0 1949-01-01          112
1 1949-02-01          118
2 1949-03-01          132
3 1949-04-01          129
4 1949-05-01          121